.heading
{
  font-size: 33px;
  width: 100%;
  margin: 0px;
  box-shadow:5px 5px 5px grey;
  font-family: 'Mynerve', cursive;
  font-weight: bold;
}
.note
{
  font-size: 15px;
  color: lavender;
}
.copy_right_footer {
  position: fixed;
  color: white;
  bottom: 0;
  width: 100%;
  background-color:grey;
  line-height: 3;
  text-align: center;
  font-family: 'Mynerve', cursive;
  font-size: 16px;
}
canvas 
{
  border:5px solid white;
  border-radius:20px;
  box-shadow:5px 5px 5px grey;
  width: 300px;
  height: 300px;
  bottom: 50px;
  background-color: lavender;
  
 

}

